{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}
<div class="header">
    <h1>Connectus</h1>
    <h1>Home</h1>
    <h1>Klaustukas</h1>
</div>

<div class="main-content">
    <div>
        {% if user.is_authenticated %}
            <div class="user-info" id="color">
                {% if user.profile_picture %}
                    <div class="profile-picture">
                        <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
                    </div>
                {% else %}
                    <div class="profile-picture default">
                        <img src="{% static 'images/default_profile_picture.png' %}" alt="Default Profile Picture">
                    </div>
                {% endif %}
                <div class="user-details">
                    <h1><a href="{% url 'user_profile' user_id=user.id %}">{{ user.name }} {{ user.last_name }}</a></h1>
                    <h3>{{ user.position }}</h3>
                </div>
            </div>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
        {% endif %}
    </div>

    <div class="team-section">
        <h2>My team</h2>
        <a href="{% url 'create_member' %}">Add A Member</a>
        <ul class="team-members">
            {% for user in users %}
                {% if user != request.user %}
                    <li class="team-member">
                        {% if user.profile_picture %}
                        <div class="profile-picture">
                            <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
                        </div>
                        {% else %}
                        <div class="profile-picture default">
                            <img src="{% static 'images/default_profile_picture.png' %}" alt="Default Profile Picture">
                        </div>
                        {% endif %}
                        <div class="user-details">
                            <h3><a href="{% url 'user_profile' user_id=user.id %}">{{ user.name }} {{ user.last_name }}</a></h3>
                            <p>{{ user.position }}</p>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Schedules</h2>
        <div class="day-navigation">
            <a href="{% url 'home_with_week' week=previous_week %}" class="nav-arrow">
                &larr;
            </a>
            <span class="nav-date">{{ start_date|date:"F j" }} - {{ end_date|date:"F j, Y" }}</span>
            <a href="{% url 'home_with_week' week=next_week %}" class="nav-arrow">
                &rarr;
            </a>
        </div>
        <a href="{% url 'user_availability' %}">View Schedule</a>
        <table>
            <thead>
                <tr>
                    <th>Members</th>
                    {% for day in date_range %}
                        <th>{{ day|format_date:'week' }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in schedule_data %}
                <tr>
                    <td>{{ row.user.name }} {{ row.user.last_name }}</td>
                    {% for work_hours in row.schedule %}
                    <td>{{ work_hours }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}