{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block content %}

<style>
    .tag {
        display: inline-block;
        padding: 0.5em 1em;
        margin: 0.5em 0.2em;
        color: white;
        background-color: #007bff;
        border-radius: 20px;
        font-size: 0.9em;
    }
</style>

{% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
{% else %}
    <p>No profile picture available</p>
{% endif %}

<div>
    <h1>{{ user.name }} {{ user.last_name }}</h1>
    {% if user == request.user %}
        <a href="{% url 'edit_profile' %}" class="btn btn-secondary btn-sm">Edit Profile</a>
    {% endif %}
</div>

<div class="tags">
    <span class="tag">{{ user.position }}</span>
    <span class="tag">{{ user.get_working_hours_display|hours_display   }}</span>
</div>

<div>
    <h2>Holidays</h2>
    {% if user_vacation %}
        <ul>
            {% for vacation in user_vacation %}
                <li>{{ vacation.get_type_display }} from {{ vacation.first_day }} to {{ vacation.last_day }}</li>
            {% endfor %}
        </ul>
    {% else %} 
        <p>No vacations palnned</p>
    {% endif %} 
</div>

<div>
    <h2>Contacts</h2>
        {% if user.phone_number %}
            <p>Phone: {{ user.phone_number }}
        {% else %}
            <p>Phone number not provided.</p>
        {% endif %}  
        <p>Email: {{ user.email }}</p>

    <h2>Address</h2>
        {% if user.street_address %}
            <p>{{ user.full_address }}
        {% else %}
            <p>Address not provided.</p>
        {% endif %}
</div>

<a href="{% url 'password_change' %}">Change Password</a>

{% endblock content %}