{% extends 'base.html' %}

{% block content %}

{% comment %}
<h3>User Availability for {{ today }}</h3>

<h4>Users available today:</h4>

<ul>
    {% for item in available_users %}
        <li>{{ item.user.username }}: {{ item.available_from }} - {{ item.available_until }}</li>
    {% endfor %}
</ul>

<h4>Users not available today:</h4>

<ul>
    {% for item in not_available_users %}
        <li>{{ item.user.username }}</li>
    {% endfor %}
</ul>
{% endcomment %}


<h3>User Availability for {{ today }}</h3>


<table>
    <thead>
        <tr>
        <th></th>
        {% for hour in hours_range %}
            <th>{{ hour }}:00</th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Availability</td>
            {% for hour in hours_range %}
                <td>
                    <!-- Add your logic here for each hour if needed -->
                </td>
            {% endfor %}
        </tr>
        <tr>
            <td>
                <ul>
                    {% for user in available_users %}
                        {{ user.user.username }}: {{ user.available_from|default_if_none:"Not available" }} - {{ user.available_until|default_if_none:"Not available" }} <br>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </tbody>
  </table>

{% endblock content %}