{% extends 'base.html' %}
{% load custom_filters %}
{% load schedule_filters %}
{% load static %}

{% block content %}

<div class="schedule_format">
    <a href="{% url 'user_availability_format' 'day' %}" class="btn btn-primary">Day</a>
    <a href="{% url 'user_availability_format' 'week' %}" class="btn btn-primary">Week</a>
    <a href="{% url 'user_availability_format' 'month' %}" class="btn btn-primary">Month</a>
</div>

<div>
    {% if schedule_format == 'week' %}
        <div class="day-navigation">
            <a href="{% url 'user_availability_format_with_week' schedule_format='week' week=previous_week %}" class="nav-arrow">
                &larr;
            </a>
            <span class="nav-date">{{ start_date|date:"F j" }} - {{ end_date|date:"F j, Y" }}</span>
            <a href="{% url 'user_availability_format_with_week' schedule_format='week' week=next_week %}" class="nav-arrow">
                &rarr;
            </a>
        </div>
        <a href="#">Edit</a>
    {% elif schedule_format == 'month' %}
        <div class="day-navigation">
            <a href="{% url 'user_availability_format_with_month' schedule_format='month' month=previous_month %}" class="nav-arrow">
                &larr;
            </a>
            <span class="nav-date">{{ start_date|date:"F, Y" }}</span>
            <a href="{% url 'user_availability_format_with_month' schedule_format='month' month=next_month %}" class="nav-arrow">
                &rarr;
            </a>
        </div>
    {% else %}
        <div class="day-navigation">
            <a href="{% url 'user_availability_format_with_day' schedule_format='day' day=previous_day %}" class="nav-arrow">
                &larr;
            </a>
            <span class="nav-date">{{ start_date|date:"l, F j" }}</span>
            <a href="{% url 'user_availability_format_with_day' schedule_format='day' day=next_day %}" class="nav-arrow">
                &rarr;
            </a>
        </div>
    {% endif %}
</div>

<table>
    <thead>
        <tr>
            <th>USERS</th>
            {% if schedule_format == 'week' %}
                {% for day in date_range %}
                    <th>{{ day|date:"D, M j" }}</th>
                {% endfor %}
            {% elif schedule_format == 'month' %}
                {% for day in date_range %}
                    <th>{{ day|date:"D, M j" }}</th>
                {% endfor %}
            {% else %}
                {% for hour in hours_range %}
                    <th colspan="10">{{ hour }}:00</th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for row in schedule_data %}
            <tr>
                <td>{{ row.user.name }} {{ row.user.last_name }}</td>
                {% for day in date_range %}
                    {% for day_schedule in row.schedule %}
                        {% if day_schedule.date == day.date.isoformat %}
                            <td>{{ day_schedule.work_hours }}</td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<div>
    {% if schedule_format == 'week' %}
        {% if user.is_authenticated and user.is_superuser %}
            <form method="post" action="{% url 'generate_weekly_schedule' %}">
                {% csrf_token %}
                <input type="hidden" name="week" value="{{ start_date|date:'Y-m-d' }}">
                <button type="submit" class="btn btn-primary">Generate New Week</button>
            </form>
        {% endif %}
    {% endif %}
</div>

<br>

<table>
    <thead>
        <tr>
            <th>Not available users</th>
        </tr>
        <tr>
            <th>User</th>
            <th>On vacation from:</th>
            <th>On vacation until:</th>
        </tr>
    </thead>

    <tbody>
        {% for user in not_available_users %}
            <tr>
                <td>{{ user.name }} {{ user.last_name }}</td>
                {% if user.on_vacation_from %}
                    <td>{{ user.on_vacation_from }}</td>
                    <td>{{ user.on_vacation_until }}</td>
                {% else %}
                    <td>N/A</td>
                    <td>N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}